@import "./null.css";
@import "./icofont.css";

/*======================================================================*/

@font-face {
   font-family: "Proxima-Nova";
   src: url(../fonts/Proxima-Nova__Reg/ProximaNova-Regular.eot);
   src: url(../fonts/Proxima-Nova__Reg/ProximaNova-Regular.eot?#iefix) format("embedded-opentype"),
      url(../fonts/Proxima-Nova__Reg/ProximaNova-Regular.woff) format("woff"),
      url(../fonts/Proxima-Nova__Reg/ProximaNova-Regular.ttf) format("truetype");
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: "Proxima-Nova";
   src: url(../fonts/Proxima-Nova__Bold/ProximaNova-Bold.eot);
   src: url(../fonts/Proxima-Nova__Bold/ProximaNova-Bold.eot?#iefix) format("embedded-opentype"),
      url(../fonts/Proxima-Nova__Bold/ProximaNova-Bold.woff) format("woff"),
      url(../fonts/Proxima-Nova__Bold/ProximaNova-Bold.ttf) format("truetype");
   font-weight: 700;
   font-style: normal;
}

/*======================================================================*/

body {
   font-family: "Proxima-Nova";
}
