.sorter-select {
   position: relative;
   .sorter-select__control {
      background-color: transparent;
      min-height: 0;
      font-weight: 500;
      border-radius: 0;
      border: none;
      font-size: 16px;
      cursor: pointer;
      transition: 0.3s;
      box-shadow: none;

      &:hover {
         box-shadow: none;
         border: none;
         .sorter-select__value-container {
            .sorter-select__single-value {
               text-decoration: none;
            }
         }
      }
      .sorter-select__value-container {
         padding: 0;
         justify-content: center;
         .sorter-select__single-value {
            color: #e3541b;
            text-decoration: underline;
         }
      }
      .sorter-select__indicators {
         display: none;
      }
   }
   .sorter-select__menu {
      width: 125px;
      position: absolute;
      top: 25px;
      left: -10px;
      color: hsl(0, 0%, 50%);
      font-weight: 500;
      border: 0px;
      font-size: 16px;
      border-radius: 10px;
      overflow: hidden;
      .sorter-select__menu-list {
         padding: 0;
         .sorter-select__option {
            cursor: pointer;
            padding: 10px 10px;
         }
         .sorter-select__option--is-focused {
            background-color: #fff;
            &:hover {
               background-color: #fcf3f0;
            }
         }
         .sorter-select__option--is-selected {
            background-color: #fcf3f0 !important;
            color: gray;
         }
      }
   }
}
