.login {
   font-size: 20px;
   padding: 6px 15px;
   background-color: #e8e6e6;
   font-family: "Proxima-Nova";
   font-weight: 400;
   color: #525151;
   border-radius: 15px;
   transition: all 0.3s;
   cursor: pointer;

   &:hover {
      color: #000;
      background-color: #ccc;
   }
   &:active {
      transform: translateY(5px);
   }
}
