.counter {
   display: flex;
   height: 32px;
   .minus {
      width: 30px;
      height: 30px;
      border: 2px solid #fe5f1e;
      border-radius: 50%;
      position: relative;
      cursor: pointer;
      transition: all 0.3s;

      &:before {
         font-family: "IcoFont";
         content: "\ef9a";
         position: absolute;
         top: 4px;
         left: 4.5px;
         font-size: 18px;
         color: #fe5f1e;
      }
      &:hover {
         background-color: #fe5f1e;
         &:before {
            color: #fff;
         }
      }
      &:active {
         transform: translateY(5px);
      }
   }
   .total {
      pointer-events: none;
      .totalResult {
         font-size: 20px;
         padding: 0 5px;
         margin: 5px 10px 0 10px;
         font-weight: 700;
      }
   }
   .plus {
      width: 30px;
      height: 30px;
      border: 2px solid #fe5f1e;
      border-radius: 50%;
      position: relative;
      cursor: pointer;
      transition: all 0.3s;
      
      &:before {
         font-family: "IcoFont";
         content: "\efc2";
         position: absolute;
         top: 7px;
         left: 7px;
         font-size: 13px;
         color: #fe5f1e;
      }
      &:hover {
         background-color: #fe5f1e;
         &:before {
            color: #fff;
         }
      }
      &:active {
         transform: translateY(-5px);
      }
   }
}