.form {
   display: flex;
   flex-direction: column;
   align-items: left;
   display: none;
   &._active {
      display: flex;
   }

   .container {
      max-width: 100%;
      width: 100%;
      display: inline-block;
      margin-bottom: 5px;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.3px;
      margin-bottom: 20px;
      .field {
         max-width: 100%;
         width: 100%;
         border: 1px solid #ccc;
         padding: 10px 15px;
         border-radius: 5px;
         font-size: 20px;
         margin-top: 5px;
      }
      .error {
         font-weight: 400;
         color: #f25c5c;
         position: relative;
         font-size: 18px;
         padding-left: 25px;
         margin: 7px 0 5px 0;
         display: none;

         &._active {
            display: block;
         }

         &:before {
            font-family: "IcoFont";
            content: "\ef1b";
            position: absolute;
            font-size: 20px;
            color: #f25c5c;
            top: -1px;
            left: 0px;
            transition-duration: 0.3s;
         }
      }
   }
   .submit {
      max-width: 100%;
      width: 100%;
      height: 45px;
      font-size: 20px;
      border-radius: 5px;
      background-color: #f0f0f0;
      letter-spacing: 0.5px;
      -webkit-text-stroke-color: #9e9e9e;
      -webkit-text-stroke-width: 0.3px;
      transition-duration: 0.3s;

      &:hover {
         background-color: #ccc;
         color: #ffffff;
         -webkit-text-stroke-color: #ffffff;
      }
      &:active {
         transform: scale(0.9, 0.9);
      }
   }
}
