.pay {
   background-color: #fe5f1e;
   font-size: 18px;
   padding: 15px 20px;
   font-weight: 700;
   color: #fff;
   border-radius: 25px;
   line-height: 15px;
   transition: all 0.4s;

   &:hover {
      background-color: #e3541b;
   }
   &:active {
      transform: translateY(-5px);
   }
}

@media (max-width: 550px) {
   .pay {
      height: 40px;
      font-size: 14px;
      font-weight: 700;
      padding: 0 10px;
   }
}
